In [ ]:
repr([7760935])

In [ ]:
import pandas as pd
mobile = pd.read_csv('/data/ner_task/mobile/mobile_ID_attribute_tagging.csv')
mobile.itemid.nunique()

In [ ]:
mobile.shape

In [ ]:
query = """
SELECT itemid, item_ctime FROM item_profile
WHERE (country = 'ID') and (itemid IN ({}))
LIMIT 10
""".format(repr(mobile.itemid.unique().tolist()[:3])[1:-1])
query

In [ ]:
mobile.head()

In [ ]:
df = pd.merge(df1,df2, on = 'itemid', how = 'left')

In [ ]:
mobile = pd.read_csv('/data/ner_task/mobile/mobile_ID_attribute_tagging_v2.csv')
mobile.drop_duplicates(subset = ['itemid'], inplace = True)

In [ ]:
mobile.shape

In [ ]:
mobile[mobile.itemid == 211724022]

# Create time-related Train and Test dataset over current 4 category of POC

In [ ]:
mobile['item_ctime'] = pd.to_datetime(mobile.item_ctime)
mobile.sort_values(by = 'item_ctime', inplace = True)
n = int(mobile.shape[0] * 0.8)
train_test_timestamp = mobile.iloc[n].item_ctime
train_test_timestamp

In [ ]:
mobile['eval_set'] = ['test' if t >= train_test_timestamp else 'train' for t in mobile['item_ctime']]
#mobile[ mobile['item_ctime'] < train_test_timestamp]

In [ ]:
mobile[mobile['eval_set'] == 'train'].shape

In [ ]:
mobile[mobile['eval_set'] == 'test'].shape

In [ ]:
61958+247831 == mobile.shape[0]

In [ ]:
mobile[mobile['eval_set'] == 'train'].item_ctime.min()

In [ ]:
mobile[mobile['eval_set'] == 'train'].item_ctime.max()

In [ ]:
mobile[mobile['eval_set'] == 'test'].item_ctime.min()

In [ ]:
mobile[mobile['eval_set'] == 'test'].item_ctime.max()

In [ ]:
mobile.shape

In [ ]:
df = pd.read_csv('/data/ner_task/dress/shopee_data_tagging_result/face/face_ID_attribute_tagging_v2.csv', 
            nrows = 3, 
                )
df.columns.tolist()

# create competition data
### add description
### chang face, mobile,... into common denominator label field
###

In [ ]:
file_path = [
'/data/ner_task/dress/shopee_data_tagging_result/dress/dress_ID_attribute_tagging_v2.csv',
'/data/ner_task/dress/shopee_data_tagging_result/face/face_ID_attribute_tagging_v2.csv',
'/data/ner_task/dress/shopee_data_tagging_result/lips/lips_ID_attribute_tagging_v2.csv',
'/data/ner_task/dress/shopee_data_tagging_result/mobile/mobile_ID_attribute_tagging_v2.csv',
'/data/ner_task/dress/shopee_data_tagging_result/women_top/women_top_ID_attribute_tagging_v2.csv'
]
ls = ['itemid',
 'title',
 'image_urls',
 'l1',
 'l2',
 'l3',
 '1_gram',
 '2_gram',
 '3_gram',
 'item_ctime',
 'eval_set']
#all_df = pd.concat([pd.read_csv(f) for f in file_path], axis = 0)
output = []
for f in file_path:
    df = pd.read_csv(f)
    df.columns = ['label' if f not in ls else f for f in df.columns.tolist()]
    output.append(df)
all_df = pd.concat(output, axis = 0)

In [ ]:
all_df.shape

In [ ]:
all_df.head()

In [2]:
import pandas as pd
com = pd.read_csv('/data/shopee_competition/text/attribute_tagging_competition.csv')

/home/linuxbrew/.linuxbrew/opt/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
com.head()

,itemid,title,image_urls,l1,l2,l3,1_gram,2_gram,3_gram,label,item_ctime,eval_set,description
0,103565,dress import hijau sifon onlineshop murah cd-252,"['f987aa28f068a9cbbd9439cd298216e5', '0717ea95...",Women Clothes,Dress,Casual Dress,"[('dress', '2'), ('sifon', '1'), ('casual', '1...","[('import casual', '1'), ('sifon import', '1')...","[('sifon import casual', '1'), ('dress sifon i...","{' Dress Length': 'no value', ' Collar Type': ...",2015-05-21 21:06:49,train,"100% IMPORT, NO REPLIKA üëç\n\nBahan Sifon Korea..."
1,193241,londgress brukat,['9ff95c8c47b92890fe57b7563b7e9a19'],Women Clothes,Dress,Casual Dress,"[('brukat', '3'), ('dress', '2'), ('brokat', '...","[('dress brukat', '2')]",[],"{' Dress Length': 'no value', ' Collar Type': ...",2015-06-17 14:00:51,train,Bahan : twiscon+brukat\nUkuran : LD 86cm P 127...
2,254350,floral blue dress by zalora,"['be22750cd3e28cbf7355b6a8276cc4b3', '4898c361...",Women Clothes,Dress,Casual Dress,"[('dress', '1'), ('zalora', '1')]","[('zalora dress', '1')]",[],"{' Dress Length': 'no value', ' Collar Type': ...",2015-06-30 10:53:59,train,Size : M fit to XL
3,385458,white dior dress,['9d7c249a9fbdc0fcd068613606580906'],Women Clothes,Dress,Casual Dress,"[('dior', '1')]",[],[],"{' Dress Length': 'no value', ' Collar Type': ...",2015-07-19 02:26:30,train,Ld 76 \nSize S \nImport US\n\nLimited edition ;)
4,505033,maxi dress jeans button,['9405bc1c5a2e1e92ae355464a9c0133e'],Women Clothes,Dress,Maxi Dress,"[('jeans', '2'), ('button', '2'), ('maxi', '1'...","[('button maxi', '1'), ('maxi jeans', '1'), ('...","[('dress jeans button', '1'), ('button maxi je...","{' Dress Length': [('Maxi', '5')], ' Collar Ty...",2015-07-30 19:57:57,train,Material : Jeans\nFree size fit to L\nHarga be...