In [3]:
#! /usr/bin/env python3
"""
Created on Oct 24 2018

Text preprocessing and sequential labeling.

TO do list in the future:
    - pull data again using pyspark for getting original item_name when need feature engineering.

@author: Ray

"""

import sys
import os
import ast # real json-like string
import pandas as pd
import gc
sys.path.append('../../brand_recognition_bio_FE/preprocessing')
from clean_helpers import clean_name

pd.options.display.max_columns = 100
pd.options.display.max_rows = 500
pd.options.display.max_colwidth = 1000


def filter_data_for_ner_task(df, out_col, FLAG, attr = ' Brand'):
    """
    Return reliable data that we generally make sure attribute you assigned exist in the title.
    """
    num_filter = 0
    keep = []
    attr_tags = []
    sku_need_to_replenish_attribute = []
    for ix, row in df.iterrows():
        if FLAG == 'shopee':
            title = row['title'] # str
            #tagging_dict = ast.literal_eval(row['mobile']) # dict 
            tagging_dict = ast.literal_eval(row[9]) 
            #--------------
            # preprocessing for tagging filed in raw shaopee data
            #--------------
            try:
                if tagging_dict[attr] != 'no value':
                    attr_tag = tagging_dict[attr][0][0] # str
                else:
                    attr_tag = tagging_dict[attr] # str
            except:
                try:
                    attr1 = 'Brand'
                    if tagging_dict[attr1] != 'no value':
                        attr_tag = tagging_dict[attr1][0][0] # str
                    else:
                        attr_tag = tagging_dict[attr1] # str
                except:
                    attr2 = ' brand'
                    if tagging_dict[attr2] != 'no value':
                        attr_tag = tagging_dict[attr2][0][0] # str
                    else:
                        attr_tag = tagging_dict[attr2] # str
                   
            #--------------
            # core
            #--------------
            if attr_tag == 'no value':
                num_filter += 1
                keep.append(0)
                attr_tags.append(0)
                sku_need_to_replenish_attribute.append(title)
            elif attr_tag.lower() in title.lower():
                keep.append(1)
                attr_tags.append(attr_tag)
            else:
                num_filter += 1
                keep.append(0)
                attr_tags.append(0)
        elif FLAG == 'lazada':
            title = row['item_name'] # str
            attr_tag = row['brand'] # str
            if attr_tag.lower() in title.lower():
                keep.append(1)
                attr_tags.append(attr_tag)
            else:
                num_filter += 1
                keep.append(0)
                attr_tags.append(0)
            
        else:
            # if the assertion fails, Python uses ArgumentExpression as the argument for the AssertionError. 
            assert False,  '========= the FLAG only accecpt shopee and lazada lah fuck u =========' # condition, AssertionError
    # save sku without attribute value
    df[df.title.isin(sku_need_to_replenish_attribute)].to_csv('../data/processed/{}_missing.csv'.format(category), index = False)

    #-----------------
    # output
    #-----------------
    df['keep'] = keep
    df['attr_tags'] = attr_tags

    if FLAG == 'shopee':
        pass
    elif FLAG == 'lazada':
        df.drop(['brand'], axis = 1, inplace = True)
    else:
        assert False, '========= the FLAG only accecpt shopee and lazada lah fuck u ========='

    df.rename(columns = {'title': out_col[0], 'attr_tags':out_col[1]}, inplace = True)
    df = df[df.keep == 1]
    df = df[out_col]
    gc.collect()
    return df, num_filter, sku_need_to_replenish_attribute

def sequence_labeling_w_bio_encoding(row, NORMALIZED = False):
    '''
    BIO encoding is a distant supervision approach to automatically generate training data for training machine-learning based model. 
    
        # B-B: 2
        # I-B: 1
        # O: 0
    Reference for distant supervision approach: http://deepdive.stanford.edu/distant_supervision
    Reference for BIO : Attribute Extraction from Product Titles in eCommerce.
   
    parameters:
    --------------
    df: DataFrame
    if_assumption: str. if True, we assume we only have one-single brand_word in one item_name. 
    Otherwise, we can have multiple token with positive lable in one item_name.
    '''

    # initialize variables
    word_list = []
    tagging = [] # multi-class label, {0:not part of the brand name, 1: intermediate part of the brand name, 2:beginning of the brand name}
    item_name = []
    val = [] 
    #---------------
    # sequential labeling with BIO encoding
    #---------------
    brand_started = False
    b_ix = 0
    brand = row.what_brand_name.iloc[0].split(' ')
    title = clean_name(row['item_name'].iloc[0]).split(' ')
    # filter
    title = [t for t in title if '' != t]
    for w_ix, word in enumerate(title):
        if word.lower() == brand[0].lower():
            tagging.append(2) # B-B: 2
            brand_started = True
            b_ix += 1
        elif (len(brand) > 1) and (brand_started):
            if b_ix >= len(brand):
                # for avoiding . For example, if 'BUMBLE AND BUMBLE by Bumble and Bumble: QUENCHING CONDITIONER 8.5 OZ'
                tagging.append(0) # O: 0
                brand_started = False  
                b_ix = 0                
            else:
                if word.lower() == brand[b_ix].lower():
                    tagging.append(1) # I-B: 1
                    b_ix += 1
                    if b_ix == len(brand):
                        # go back to orginal state because we already marked what we want
                        brand_started = False
                        b_ix = 0
                else:
                    tagging.append(0) # O: 0
                    brand_started = False     
                    # if we need to modified the labeling we priviously marked.
                    if b_ix < len(brand):
                        go_back_to_modified = 0
                        for i in range(b_ix):
                            #print ('w_ix', w_ix) # w_ix 對應的不是整個 tagging的list: 兩個解法, 1.groupby 2.w_ix要一直被加上
                            go_back_to_modified += 1
                            #print ('go back', w_ix - go_back_to_modified)
                            tagging[w_ix - go_back_to_modified] = 0 # O: 0
                        # Once removing privous labeling, we update b_ix to zero
                        b_ix = 0         
        else:
            brand_started = False
            tagging.append(0) # O: 0
        #---------------------------
        # for output dataframe
        #---------------------------
        if NORMALIZED == True:
            word_list.append(word.lower())
        else:
            word_list.append(word)
        item_name.append(clean_name(row['item_name'].iloc[0]))
        val.append(row['eval_set'].iloc[0])
    #---------------------------
    # output
    #---------------------------
    df = pd.DataFrame({'tokens':word_list, 
                'label': tagging,
                'eval_set': val,
                'item_name':item_name})[['item_name','tokens','label','eval_set']]
    return df

# Beauty-Lips
# Beauty-face
# Women top
# Women dress

In [2]:
os.listdir('/data/ner_task/dress/shopee_data_tagging_result/')

['lips', 'dress', 'face', 'women_top', 'mobile']

In [3]:
# shopee = pd.read_csv('/data/ner_task/dress/shopee_data_tagging_result/dress/dress_ID_attribute_tagging_v2.csv')
# shopee

In [4]:
# for ix, row in shoope_mobile.sample(100).iterrows():
#     print (row[9])

In [5]:
os.listdir('/data/ner_task/dress/shopee_data_tagging_result/')

['lips', 'dress', 'face', 'women_top', 'mobile']

In [6]:
for category in os.listdir('/data/ner_task/dress/shopee_data_tagging_result/')[:]:
    #--------------------------
    # setting
    #--------------------------
    print ('category : {}'.format(category))
    file_name = [i for i in os.listdir('/data/ner_task/dress/shopee_data_tagging_result/{}'.format(category)) if 'v2' in i ][0]
    date_path = '/data/ner_task/dress/shopee_data_tagging_result/{}/{}'.format(category, file_name)
    # output column
    output_column = ['item_name', 'brand', 'eval_set']
    # train/val ratio
    val_size = 0.1
    #--------------------------
    # loading data
    #--------------------------
    shopee = pd.read_csv(date_path)
    print ('# training sku : {}'.format(len(shopee[shopee.eval_set == 'train'])))
    print ('# testing sku : {}'.format(len(shopee[shopee.eval_set == 'test'])))

    #--------------------------
    # preprocessing data
    #--------------------------
    # droup duplicated: make our result trustworthy, don't count the same itemname with same brand 
    shopee.drop_duplicates(subset = ['title'], inplace = True)
    shopee = shopee.reset_index(drop = True)
    #--------------------------
    # filter: In order to get high-quality data, we remove the sku that his attribute name do not exist in title from our shopee data.
    #--------------------------
    attr = ' Brand'
    shopee, num_filter_s, sku_need_to_replenish_attribute = filter_data_for_ner_task(shopee, FLAG = 'shopee', out_col = output_column, attr =  attr)
    shopee.reset_index(drop = True, inplace = True)
    print ('eval_set-distribution', shopee.eval_set.value_counts())
    #--------------------------
    # data configuration
    #-------------------------- 
    # using time-series split method as validating strategy: switch to shuffle with item_id
    n = int(len(shopee[shopee.eval_set == 'train']) * val_size)
    print ('number of validating sku : {}'.format(n))
    val_item_name = set(pd.Series(shopee[shopee.eval_set == 'train'].tail(n).item_name))
    for ix, row in shopee[shopee.eval_set == 'train'].iterrows():
        if row['item_name'] in val_item_name:
            shopee['eval_set'].iloc[ix] = 'val' 

    print ('num_sku_removed from shopee: {}'.format(num_filter_s))
    print ('# of total sku : {}'.format(len(shopee)))
    print ('# training sku : {}'.format(len(shopee[shopee.eval_set == 'train'])))
    print ('# validating sku : {}'.format(len(shopee[shopee.eval_set == 'val'])))
    print ('# testing sku : {}'.format(len(shopee[shopee.eval_set == 'test'])))
    print ('testing ration : {}'.format(len(shopee[shopee.eval_set == 'test']) / len(shopee)))
    df = pd.concat([
        #lazada_mobile[output_column], 
        shopee[output_column]
    ], axis = 0)
    #del shopee
    gc.collect()
    #--------------------------
    # BIO tagging
    #--------------------------
    df.rename(columns = {'brand':'what_brand_name'}, inplace = True)

    df = df.groupby('item_name').apply(lambda x: sequence_labeling_w_bio_encoding(x, NORMALIZED = False)).reset_index(drop = True)

    #-------------------------
    # post-processing: remove some sku we cannot tag trough our sequential labeling.
    #-------------------------
    '''
    It's very little and the reason why this happening after text processomg is, for example, let's say a title of sku and brand is buy 1 get 1 free kasus and asus
    Then, he won't be filtered by text processing.
    '''
    no_label_item_name = df.groupby('item_name').label.mean().to_frame().reset_index()
    no_label_item_name = no_label_item_name[no_label_item_name.label == 0].item_name.tolist()
    df = df[~df.item_name.isin(no_label_item_name)]

    gc.collect()
    #--------------------------
    # save
    #--------------------------
    base_path = '../data/processed'

    if not os.path.isdir(base_path):
        os.makedirs(base_path)

    df.to_csv(os.path.join(base_path,'{}_training.csv'.format(category)) , index = False)
    print ('sucessfully saving the {} data '.format(category))

category : lips
# training sku : 112415
# testing sku : 28104
eval_set-distribution train    35291
test      8857
Name: eval_set, dtype: int64
number of validating sku : 3529
num_sku_removed from shopee: 62685
# of total sku : 44148
# training sku : 31762
# validating sku : 3529
# testing sku : 8857
testing ration : 0.20062063966657606
sucessfully saving the lips data
category : dress
# training sku : 302864
# testing sku : 75716
eval_set-distribution train    3498
test      492
Name: eval_set, dtype: int64
number of validating sku : 349
num_sku_removed from shopee: 332061
# of total sku : 3990
# training sku : 3149
# validating sku : 349
# testing sku : 492
testing ration : 0.12330827067669173
sucessfully saving the dress data
category : face
# training sku : 211920
# testing sku : 52990
eval_set-distribution train    58844
test     15121
Name: eval_set, dtype: int64
number of validating sku : 5884
num_sku_removed from shopee: 138161
# of total sku : 73965
# training sku : 52960
# validating sku : 5884
# testing sku : 15121
testing ration : 0.20443452984519705
sucessfully saving the face data
category : women_top
# training sku : 304304
# testing sku : 76080
eval_set-distribution train    6789
test     1391
Name: eval_set, dtype: int64
number of validating sku : 678
num_sku_removed from shopee: 339057
# of total sku : 8180
# training sku : 6111
# validating sku : 678
# testing sku : 1391
testing ration : 0.17004889975550122
sucessfully saving the women_top data
category : mobile
# training sku : 247831
# testing sku : 61958
eval_set-distribution train    160247
test      26642
Name: eval_set, dtype: int64
number of validating sku : 16024
num_sku_removed from shopee: 43667
# of total sku : 186889
# training sku : 144223
# validating sku : 16024
# testing sku : 26642
testing ration : 0.1425552065664646
sucessfully saving the mobile data

In [7]:
assert 1==0

AssertionError:

In [ ]:
8857/44148

In [ ]:
df

In [ ]:
sku_need_to_replenish_attribute

In [ ]:
#shopee.eval_set.value_counts()

In [ ]:
"""
drop by itemid:
lips
num_sku_removed from shopee: 509
# of total sku : 491
# training sku : 416
# validating sku : 75
# testing sku : 0
category : dress
number of validating sku : 100
num_sku_removed from shopee: 997
# of total sku : 3
# training sku : 3
# validating sku : 0
# testing sku : 0
category : face
number of validating sku : 100
num_sku_removed from shopee: 618
# of total sku : 382
# training sku : 333
# validating sku : 49
# testing sku : 0
category : women_top
number of validating sku : 100
num_sku_removed from shopee: 988
# of total sku : 12
# training sku : 10
# validating sku : 2
# testing sku : 0
category : mobile
number of validating sku : 100
num_sku_removed from shopee: 279
# of total sku : 721
# training sku : 643
# validating sku : 78
# testing sku : 0

drop by itemname:
lips
num_sku_removed from shopee: 470
# of total sku : 439
# training sku : 394
# validating sku : 45
# testing sku : 0
category : dress
number of validating sku : 98
num_sku_removed from shopee: 982
# of total sku : 3
# training sku : 3
# validating sku : 0
# testing sku : 0
category : face
number of validating sku : 95
num_sku_removed from shopee: 604
# of total sku : 355
# training sku : 317
# validating sku : 38
# testing sku : 0
category : women_top
number of validating sku : 97
num_sku_removed from shopee: 967
# of total sku : 12
# training sku : 10
# validating sku : 2
# testing sku : 0
category : mobile
number of validating sku : 98
num_sku_removed from shopee: 275
# of total sku : 713
# training sku : 638
# validating sku : 75
# testing sku : 0
"""

In [ ]:
shopee.drop_duplicates('item_name').shape

In [ ]:
shopee.reset_index(drop = True)

In [ ]:
pd.read_csv('/data/ner_task/data_for_brand_detection_model/face_training.csv')

In [ ]:
'women_top_training.csv'[:-13]

# check out the original brand column built from ko.wen, dose she provie multiple brand?

In [4]:
date_path = '/data/ner_task/dress/shopee_data_tagging_result/dress/dress_ID_attribute_tagging_v2.csv'
df = pd.read_csv(date_path)

In [5]:
df

            itemid  \
0           103565
1           193241
2           254350
3           385458
4           505033
5           528784
6           550030
7           550070
8           550361
9           550384
10          565802
11          590713
12          590758
13          590794
14          590955
15          591307
16          591358
17          591401
18          591416
19          591554
20          610282
21          678718
22          692599
23          877397
24          947846
25         1009191
26         1046567
27         1066429
28         1066494
29         1066591
30         1078176
31         1116009
32         1129788
33         1156067
34         1273226
35         1274797
36         1275200
37         1464472
38         1495407
39         1532318
40         1629599
41         1673689
42         1691461
43         1761439
44         1773188
45         1851513
46         1874194
47         1917255
48         1961190
49         1998891
50         2007750
51         2033336
52         2062070
53         2073452
54         2074075
55         2098689
56         2134591
57         2140727
58         2140920
59         2181116
60         2204547
61         2246834
62         2249700
63         2269971
64         2286249
65         2286582
66         2292638
67         2361801
68         2377934
69         2378134
70         2484055
71         2490304
72         2541355
73         2576586
74         2589178
75         2597037
76         2610315
77         2667730
78         2708479
79         2733173
80         2796320
81         2799367
82         2806232
83         2806427
84         2806615
85         2806808
86         2849279
87         2910929
88         2923899
89         2993579
90         3051635
91         3075518
92         3125653
93         3133809
94         3152370
95         3155917
96         3167613
97         3170200
98         3174603
99         3175973
100        3176018
101        3205068
102        3212501
103        3253919
104        3254654
105        3284027
106        3338597
107        3350502
108        3367641
109        3385196
110        3421367
111        3448163
112        3487917
113        3512227
114        3574491
115        3588629
116        3597888
117        3751245
118        3905079
119        3907421
120        3947718
121        4014132
122        4014282
123        4037461
124        4038154
125        4039800
126        4044700
127        4045045
128        4102667
129        4113101
130        4139201
131        4163013
132        4165867
133        4172296
134        4213942
135        4214184
136        4214670
137        4270045
138        4343605
139        4343886
140        4377036
141        4410057
142        4509305
143        4510973
144        4517277
145        4532201
146        4533214
147        4614671
148        4655436
149        4696417
150        4713022
151        4762730
152        5000047
153        5022833
154        5067102
155        5067151
156        5110832
157        5111096
158        5116488
159        5126872
160        5130274
161        5147017
162        5151486
163        5255929
164        5257022
165        5257818
166        5258187
167        5258206
168        5258310
169        5290063
170        5290395
171        5301225
172        5306545
173        5306926
174        5308027
175        5308225
176        5309290
177        5309310
178        5309526
179        5319580
180        5360040
181        5360597
182        5361702
183        5436796
184        5475841
185        5501549
186        5505120
187        5510731
188        5512460
189        5517624
190        5540034
191        5552661
192        5557864
193        5568064
194        5609178
195        5614111
196        5646712
197        5716616
198        5776132
199        5829055
200        5829511
201        5829577
202        5829640
203        5829859
204        5831031
205        5867291
206        5889484
207        5928081
208        5929504
209        5931305
210        5943098
211        5962926
212        5999521
213        6009040
214        6017437
215        6028506
216        6097484
217        6120622
218        6135796
219        6140250
220        6271733
221        6271814
222        6288969
223        6290813
224        6373691
225        6382554
226        6454174
227        6524359
228        6524660
229        6829737
230        6844278
231        6912296
232        6912679
233        6948257
234        6952147
235        6968350
236        6996072
237        7019092
238        7021778
239        7022218
240        7022268
241        7022314
242        7022337
243        7036257
244        7194738
245        7195583
246        7203503
247        7315004
248        7339277
249        7372716
...            ...
378330  1484210471
378331  1484213372
378332  1484214438
378333  1484215846
378334  1484220033
378335  1484222240
378336  1484225281
378337  1484226594
378338  1484232439
378339  1484232568
378340  1484232590
378341  1484232648
378342  1484232633
378343  1484232663
378344  1484232811
378345  1484232881
378346  1484233030
378347  1484242034
378348  1484243626
378349  1484245149
378350  1484246123
378351  1484247942
378352  1484248106
378353  1484251592
378354  1484251957
378355  1484257027
378356  1484258188
378357  1484259585
378358  1484267677
378359  1484267702
378360  1484269281
378361  1484270020
378362  1484270215
378363  1484270177
378364  1484270179
378365  1484270325
378366  1484270360
378367  1484280312
378368  1484281514
378369  1484284433
378370  1484292367
378371  1484294409
378372  1484326957
378373  1484327168
378374  1484328091
378375  1484331463
378376  1484336245
378377  1484336450
378378  1484336666
378379  1484336685
378380  1484347592
378381  1484350142
378382  1484359926
378383  1484361416
378384  1484364302
378385  1484366327
378386  1484370311
378387  1484372196
378388  1484376303
378389  1484388863
378390  1484389171
378391  1484393690
378392  1484394651
378393  1484403574
378394  1484407033
378395  1484409087
378396  1484410944
378397  1484417127
378398  1484424916
378399  1484435893
378400  1484437469
378401  1484453264
378402  1484456028
378403  1484457232
378404  1484461290
378405  1484470524
378406  1484475154
378407  1484481651
378408  1484482185
378409  1484483812
378410  1484495029
378411  1484495251
378412  1484495722
378413  1484500375
378414  1484500637
378415  1484503960
378416  1484505029
378417  1484505089
378418  1484505101
378419  1484505346
378420  1484515336
378421  1484534723
378422  1484534777
378423  1484538026
378424  1484546639
378425  1484552384
378426  1484552380
378427  1484553856
378428  1484555446
378429  1484555851
378430  1484567310
378431  1484568892
378432  1484570306
378433  1484573088
378434  1484573273
378435  1484577328
378436  1484578839
378437  1484580553
378438  1484595961
378439  1484616909
378440  1484618827
378441  1484625655
378442  1484631367
378443  1484633662
378444  1484635949
378445  1484638820
378446  1484639295
378447  1484639609
378448  1484649519
378449  1484656361
378450  1484673678
378451  1484675755
378452  1484677141
378453  1484682425
378454  1484688962
378455  1484696183
378456  1484698264
378457  1484701070
378458  1484701491
378459  1484704757
378460  1484705222
378461  1484706647
378462  1484706975
378463  1484709797
378464  1484716579
378465  1484723707
378466  1484724078
378467  1484724652
378468  1484726147
378469  1484728694
378470  1484728858
378471  1484728822
378472  1484729689
378473  1484739255
378474  1484741573
378475  1484746817
378476  1484754507
378477  1484759800
378478  1484763409
378479  1484769609
378480  1484770462
378481  1484772874
378482  1484774923
378483  1484776694
378484  1484777120
378485  1484781308
378486  1484792035
378487  1484792286
378488  1484792629
378489  1484793082
378490  1484793305
378491  1484793881
378492  1484798777
378493  1484800577
378494  1484807113
378495  1484807188
378496  1484809109
378497  1484811119
378498  1484815656
378499  1484818036
378500  1484819331
378501  1484820282
378502  1484821411
378503  1484825098
378504  1484826051
378505  1484826194
378506  1484828042
378507  1484829795
378508  1484832248
378509  1484834283
378510  1484835010
378511  1484836561
378512  1484848433
378513  1484855736
378514  1484859276
378515  1484861700
378516  1484863373
378517  1484864044
378518  1484869274
378519  1484876230
378520  1484896685
378521  1484907627
378522  1484907690
378523  1484916660
378524  1484920486
378525  1484922444
378526  1484925353
378527  1484930211
378528  1484930346
378529  1484931075
378530  1484932684
378531  1484937800
378532  1484939231
378533  1484949673
378534  1484950473
378535  1484951008
378536  1484951835
378537  1484954211
378538  1484957349
378539  1484960120
378540  1484968618
378541  1484970210
378542  1484994802
378543  1484996288
378544  1485007786
378545  1485014424
378546  1485017968
378547  1485026401
378548  1485027893
378549  1485033326
378550  1485037275
378551  1485037620
378552  1485038376
378553  1485048902
378554  1485049207
378555  1485055872
378556  1485056724
378557  1485065875
378558  1485090024
378559  1485091674
378560  1485099235
378561  1485103055
378562  1485104795
378563  1485107788
378564  1485112252
378565  1485112654
378566  1485112998
378567  1485130226
378568  1485130325
378569  1485130398
378570  1485130513
378571  1485142642
378572  1485142931
378573  1485143453
378574  1485170918
378575  1485206152
378576  1485230589
378577  1485232976
378578  1485246396
378579  1485249767

                                                                                                     title  \
0                                                         dress import hijau sifon onlineshop murah cd-252
1                                                                                         londgress brukat
2                                                                              floral blue dress by zalora
3                                                                                         white dior dress
4                                                                                  maxi dress jeans button
5                                                                             little black sparkling dress
6                                                                             dress princess grey gatsuone
7                                                                     dress dora light grey black gatsuone
8                                                                     dress calista blue polkadot gatsuone
9                                                                        dress clarisa blue denim gatsuone
10                                                                           korea tutu black dress s44980
11                                                                         dress clara royal blue gatsuone
12                                                                     dress kristina black motif gatsuone
13                                                                        dress janet black motif gatsuone
14                                                                          dress clea black comb gatsuone
15                                                                      dress griselda black comb gatsuone
16                                                                         dress ellen blue motif gatsuone
17                                                                                 dress alka red gatsuone
18                                                                     dress grace off white comb gatsuone
19                                                                            dress connie yellow gatsuone
20                                                                     dress jania black polkadot gatsuone
21                                                                     dress corina black checker gatsuone
22                                                                                       galaxy midi dress
23                                                                                  hello kitty long dress
24                                                                            ayda songket olla mini dress
25                                                                                       three floor dress
26                                                                                     grey babydoll dress
27                                                                              longdress kombinasi brukat
28                                                                               sabrina flare putih scuba
29                                                                                      setdress baby pink
30                                                       forever21 dress bodycon tribal baju pesta branded
31                                                                     mini dress cantik sexy 3 red button
32                                                                              gaun pesta princess yunani
33                                                           9.9supet shopping day dress maxi pajang hitam
34                                                                   body soul leopard print bodycon dress
35                                                                                        white maxi dress
36                                                                                             party dress
37                                                                                         sexy long dress
38                                                                              longdress orange satu tali
39                                                                        bigjill stripe all size termurah
40                                                                               long dress burberry choco
41                                                                    orsolya accordion spandek maxi skirt
42                                                                           free ongkir dress ombre merah
43                                                                         mishtira plain flare maxi skirt
44                                                                         body talk drees never been used
45                                                                            body and soul dress preloved
46                                                                                             sporty maxi
47                                                                     preloved stripe loose dress premium
48                                                            dress jersey kombinasi brukat glitter 111393
49                                                                                polkadot dark blue dress
50                                                         simple dress only black and white matt twiscone
51                                                           big size collar dutch dress short hand import
52                                                                       sold pull bear simple black dress
53                        pmb626 125rb maxi layer 2tone bhn angelo baby terry halus ld110 pjg 130 import 0
54                            rebecca dress bahan katun rayon adem ld85 p75 fit to m pinggang karet 65.000
55                                                                    grey stripe abstrak motif mini dress
56                                             free ongkir dress pesta ukuran big size/jumbo fit to xxxxxl
57                                                                                     wrap body con dress
58                                                                                  zara basic black dress
59                                                                                        h&m simply black
60                                                                                        h&m jersey dress
61                                                                                  india maxi kelly marun
62                                                                              maxi rainbow wedges import
63                                                                                      dress hitam accent
64                                                                           dress cornelia black gatsuone
65                                                                         dress gena navy stripe gatsuone
66                                                                                            dress stripe
67                                                                                  baju pesta tutu brukat
68                                                                         dress pesta tile koktail import
69                                                        gaun pesta tile/brukat/dress pendek import korea
70                                                 dress hitam import bangkok premium bahan wedges stretch
71                                                             gaun joda sale sisa brown atau cokelat kopi
72                                                        pluffyschoice strapless bra invisible tanpa tali
73                                                                                 ysl maxi dress pashmina
74                                                                                  sexy back s61400 dress
75                                                                                      dress brokat prada
76                                                                                        mini stipe dress
77                                                                         preloved dress party baju pesta
78                                                                                 dress minimalis florist
79                                                                                    preloved denim dress
80                                                              long dress import korea/gaun pesta elegant
81                                                      dress white bone by axe femme import from japan hq
82                                                                      wedding dress import ekor pangjang
83                                        wedding dress impor gaun pengantin mewah/ekor panjang pita besar
84                                                     wedding dress tutu import/dress duyung ekor panjang
85                                               dress party/gaun pesta tutu flowers import/wedding import
86                                                             dress pesta party tutu polkadot sexy import
87                                                                white long dress free ongkir jabodetabek
88                                  basic long dress syar i polos lengan panjang sifon ceruti high quality
89                                           dress summer long sleeve animal print chiffon casual mini cat
90                                                                                minimal plain pink dress
91                                                                    dress jalan/dress pesta merah import
92          dress ribbon bahan brukat import mix jersey super+tile ada lapisan furing belakang sleting fit
93                                                     dress pesta/dress kerja elegant high quality import
94                                                                                 dress kemben hitam biru
95                                                                                    wedding dress import

In [8]:
attr = ' Brand'
for ix, row in df.head().iterrows():
    title = row['title'] # str
    #tagging_dict = ast.literal_eval(row['mobile']) # dict 
    tagging_dict = ast.literal_eval(row[9]) 
    print ('tagging_dict',tagging_dict)
    #--------------
    # preprocessing for tagging filed in raw shaopee data
    #--------------
    try:
        if tagging_dict[attr] != 'no value':
            attr_tag = tagging_dict[attr][0][0] # str
        else:
            attr_tag = tagging_dict[attr] # str
    except:
        try:
            attr1 = 'Brand'
            if tagging_dict[attr1] != 'no value':
                attr_tag = tagging_dict[attr1][0][0] # str
            else:
                attr_tag = tagging_dict[attr1] # str
        except:
            attr2 = ' brand'
            if tagging_dict[attr2] != 'no value':
                attr_tag = tagging_dict[attr2][0][0] # str
            else:
                attr_tag = tagging_dict[attr2] # str

tagging_dict {' Dress Length': 'no value', ' Collar Type': 'no value', ' Pattern': 'no value', ' Brand': 'no value', 'Dress Type': 'no value', ' Sleeves': 'no value', ' Clothing Material': [('Chiffon', '6')], ' Color Family': [('green', '1')], ' Fashion Trend': 'no value'}
tagging_dict {' Dress Length': 'no value', ' Collar Type': 'no value', ' Pattern': [('Brocade', '1')], ' Brand': 'no value', 'Dress Type': 'no value', ' Sleeves': 'no value', ' Clothing Material': 'no value', ' Color Family': 'no value', ' Fashion Trend': 'no value'}
tagging_dict {' Dress Length': 'no value', ' Collar Type': 'no value', ' Pattern': [('Floral', '1')], ' Brand': 'no value', 'Dress Type': 'no value', ' Sleeves': 'no value', ' Clothing Material': 'no value', ' Color Family': [('Floral', '1'), ('Blue', '1')], ' Fashion Trend': 'no value'}
tagging_dict {' Dress Length': 'no value', ' Collar Type': 'no value', ' Pattern': 'no value', ' Brand': 'no value', 'Dress Type': 'no value', ' Sleeves': 'no value', ' Clothing Material': 'no value', ' Color Family': [('White', '1')], ' Fashion Trend': 'no value'}
tagging_dict {' Dress Length': [('Maxi', '5')], ' Collar Type': 'no value', ' Pattern': 'no value', ' Brand': 'no value', 'Dress Type': [('Maxi Dress', '5')], ' Sleeves': 'no value', ' Clothing Material': 'no value', ' Color Family': 'no value', ' Fashion Trend': 'no value'}

In [9]:
attr_tag

'no value'